* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
/* --------------------
Hauteur 
----------------------- */
.h400px{
    height: 400px;
}
.h100px{
    height: 100px;
}
.h100p{
    height: 100%;
}
.h50p{
    height: 50%;
}
.h50px{
    height: 50px;
}

/*--------------------------------------------------
🧱Largeurs  
---------------------------------------------------*/

/*Desktop*/
.w50{
    width: 50%;
}
.w100{
    width: 100%;
}
.w25{
    width: 25%;
}


/* ------- FIN -------- */
/* -----------------------
FLEX
------------------------- */
.flex{
    display: flex;
    flex-wrap: wrap;
   
}
.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.gap32{
    --gap: 32px;
    gap: var(--gap);
}
.gap16{
    --gap: 16px;
    gap: var(--gap);
}
.align-start{
    align-items: flex-start;
}






/* ---------------------------
        Le Header
------------------------------ */
header{
    backdrop-filter: blur(50px) ;
    padding: 1px 0;
    background-color: #8f5210ac;
    position: sticky;
    top: 0;
    width: 100%;

}

/* ---------------
HERO
---------------- */

.hero{
    background-image: url(assets/BrgImg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    width: 100%;
    height: 100%;
}
.hero h1{
    font-size: 50px;

}
.hero p{
    font-size: 35px;
}

.card {
    padding: 16px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    font-size: 13px;
    margin-top: 64px;
    border-radius: 20px;
    
}
.brgRed{
    background-color: red;
}